
@font-face {
  font-family: 'Inter'; 
  src: url(font/Inter_24pt-Regular.ttf);
}


html, body {
    margin: 0;
    padding: 0;
    font-family: 'Inter';
  }

main {
  margin:2em;
}

canvas {
  margin : 2em 0;
  display: block;
}
  